<launch>

    <!-- Do NOT change, Gazebo system configuration -->
    <env name="GAZEBO_MODEL_PATH" value="$(find scene_builder)/../:$(optenv GAZEBO_MODEL_PATH)" />

    <!-- Gazebo World Configuration -->
    <arg name="scene_name" default="scenenn_225"/>
    <arg name="world_file" default="$(find scene_builder)/output/$(arg scene_name)/main.world" />
    <arg name="enable_robot" default="true" />
    
    <!-- Spawn Robot Pose -->
    <arg name="x" default="1.5" />
    <arg name="y" default="-2" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.0" />

    <!-- Gazebo Simulator Configurations -->
    <arg name="robot" default="fetch"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>

    <!-- Launch the Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- Launch the robot -->
    <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" if="$(arg enable_robot)" >
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="yaw" value="$(arg yaw)" />
    </include>

</launch>